body {
  background-color: rgb(40, 40, 58);
}

a {
  color: white;
}

.flex {
  display: flex;
  gap: 10px;
}
.fdc {
  flex-direction: column;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
select {
  height: 22px;
}
form {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 700px;
  background-color:rgb(213, 205, 255);
  border: 3px solid rgb(255, 255, 255);
  // border-radius: 10px;
  padding: 20px;
}
#content {
  margin: 20px 0;
  flex-wrap: wrap;
}  
#content>div {
  display: flex;
  width: 250px;
  height: 170px;
  gap: 10px;
  background-color:rgb(213, 205, 255);
  border: 3px solid rgb(255, 255, 255);
  // border-radius: 10px;
  padding: 20px;
}

.button {
background-color: rgb(255, 255, 255);
border-color: rgb(158, 105, 207);
}

.button:hover {
  color: white;
  background-color: rgb(173, 146, 245);
  transition: 1s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}